.header {height: 1000px;
	background: url(../img/hbg.png) no-repeat center/cover;
	&__top {display: flex;
		width: 70%;
    margin: 0;
    padding: 0;
		margin-right: auto;
		margin-left: auto;
		justify-content: space-between;
		align-items: baseline;}
}

.bg {height: 100%;
width: 100%;
background: url(../img/hbg2.png);
}

.topbg {
height: 165px;
background: url(../img/top-shadow.png);}

.site-navigation .main-menu,
.site-navigation > input {
  display: none;
}

.site-navigation > label {
  display: block;
  font-size: 36px;
  color: #fff;
  width: 36px;
  padding: 0;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.site-navigation > input:checked + .main-menu {
  display: block;
  color: #fff;
  margin-left: -100px;
  margin-top: -15px;
}

.site-navigation ul li {
  display: block;
  list-style: none;
}

.site-navigation a {display: block;
text-decoration: none;
padding-top: 20px;
color: #ffffff;
font-family: Lato;
font-size: 18px;
font-weight: 400;
border-radius: 0px 0px 10px 10px;
line-height: 60px;
width: 100px;
height: 72px;
&:hover {background-color: #74c7d5;
transition: 2s;}
}

#slider {border-radius: 7px;
width: 840px;
height: 170px;
margin: auto;
margin-top: 249px;
background: url(../img/slider-bg.png);}

#slider input[name="switch"] {
  display: none;
}

.switch {position: absolute;
  left: 0;
  z-index: 99;
  text-align: center;
  width: 100%;
  margin-top: 472px;
}

.switch label {
  background-color: #ffffff;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  cursor: pointer;
  opacity: 0.5;
  margin-right: 20px;
  margin-left: 20px;
}

#slide2, #slide1, #slide3 {display: flex;
align-items: center;
justify-content: space-around;
}

.text-left {color: #74c7d5;
font-family: Lato;
font-size: 60px;
font-weight: 300;
padding-top: 50px;
padding-right: 5px;
text-align: right;
line-height: 60px;
}

.text-right {color: #74c7d5;
font-family: Lato;
font-size: 138px;
font-weight: 700;
padding-right: 20px;
padding-left: 5px;
text-transform: uppercase;}



.slider-inner {
  overflow: hidden;
}

.slides {
  transition: all 0.5s;
  width: 500%;

}

.slides div {
 width: 840px;
height: 170px;
float: left;

}

#btn1:checked~.slider-inner .slides {
  transform: translate(0);
}

#btn2:checked~.slider-inner .slides {
  transform: translate(-840px);
}

#btn3:checked~.slider-inner .slides {
  transform: translate(-1680px);
}
#btn1:checked~.switch label[for="btn1"] {
  background-color: #74c7d5;
}

#btn2:checked~.switch label[for="btn2"] {
  background-color: #74c7d5;
}

#btn3:checked~.switch label[for="btn3"] {
  background-color: #74c7d5;
}



#slide1 {text-align: center;
}
#slide2 {text-align: center;
}
#slide3 {text-align: center;
}
